# 开发文件
.vscode/
.idea/
src/
test/
tsconfig*
rolldown.config*
rollup.config*

# 构建工具文件
.gitignore
.npmignore
.prettierrc
.editorconfig

# 日志和缓存
*.log
*.tmp


# 保留以下目录（与 package.json 的 files 字段匹配）
!dist/
!types/
!polyfills/

# 忽略 polyfills 目录下的所有非 JS 文件
polyfills/**/*.md
polyfills/**/*.txt
polyfills/**/test.*